# Twilio Config
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+10000000000

DOMAIN=jb3ail-qualify-ai-telephone.onrender.com
VITE_BACKEND_URL=https://jb3ail-qualify-ai-telephone.onrender.com

# Google Gemini API Key
API_KEY=your_google_gemini_api_key

# Microsoft Azure Speech Service
SPEECH_KEY=your_azure_speech_key
SPEECH_REGION=your_azure_speech_region
